body {
    background: #171717 !important;
}

* {
    border-radius: 0 !important;
}

h3 {
}

.active {
    border-bottom: solid #ff550b;
}

.spacer {
    padding-bottom: 25px;
}

/*start scrollbar*/
body::-webkit-scrollbar {
    width: 1em;
    background-color: slategrey;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkorange;
    outline: 1px solid slategrey;
}

/*stop scrollbar*/
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; /* or 950px */
}