border-bottom: 5px solid red;

h3 {
}

.active {
    border-bottom: solid white;
}

.spacer {
    padding-bottom: 25px;
}

/*start scrollbar*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/*stop scrollbar*/print